body{
	background: #bdc3c7;
}
h1 {
	color:#9b59b6;
}
h2{
	color:orange;
}
li{
	color: #0000FF;
}
input{
	border: 3px solid red;
}
p{
	background-color: yellow;
}
.hello{
         background: red;
}
#special{
	border: 2px solid blue;
}
div p{
	font-size: 25px;
}